.wrap {
    position: fixed;
    top: 2rem;
    left: 5rem;
    width: 90%;
    height: 31rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    z-index: 2;
    background: var(--var-bg-color);
    color: var(--var-color-text-h2);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 1), 0 5px 20px rgba(0, 0, 0, .5),
    inset 0 0 15px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.cartListGoOut {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.1rem 0.3rem 0.2rem 0;
    cursor: pointer;
}

.cartListProducts {
    width: 100%;
    padding: 0.1rem;
    overflow-y: scroll;
}

.cartListTitleText {
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--var-bg-btn-blockStar-h1);
}

.cartListMainOrder {
    width: 100%;
}

.cartListOrder {
    width: 100%;
    text-align: center;
}

.cartListOrderTotalPrice {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cartListTotalPrice {
    width: 15%;
    padding: 0.2rem;
    font-weight: bold;
    font-size: 1.3rem;
    border: 1px solid black;
    margin: 0.7rem 0;
    text-transform: uppercase;
}

.cartListBtn {
    width: 15rem;
    background: var(--var-bg-btn-blockStar-h1);
    color: var(--var-color-textInBlock-star-textActive);
    padding: 0.5rem;
    margin: 1rem 0;
    border: none;
    border-radius: 0.3rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}