.wrap {
    padding: 0 2rem;
    background: var(--var-bg-color);
}

.blockHeader {
    margin-bottom: 2rem;
}

.blockMainInfo {

}

.blockFilter {
    width: 20%;
    padding: 0 0.5rem;
    min-height: 90vh;
}

.clearBtn {
    padding: 0.3rem 0;
    background: var(--var-bg-btn-blockStar-h1);
    color: var(--var-bg-color);
    font-weight: bold;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

.blockSearchOutlet {
    width: 80%;
    min-height: 90vh;
}

.blockSearchOutletSearch {

}

.blockSearchOutletOutlet {

}