.wrap {
    padding: 0 2rem;
    background: var(--var-bg-color);
}

.blockHeader {
    margin-bottom: 2rem;
}

.blockMainInfo {

}

.blockFilter {
    width: 20%;
    padding: 0 0.5rem;
    min-height: 90vh;
}

.blockSearchOutlet {
    width: 80%;
    min-height: 90vh;
}

.blockSearchOutletSearch {

}

.blockSearchOutletOutlet {

}